.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba($color: 255, 255, 255, 1.0);
    animation: loader 0.01;
    animation-delay: 1.75s;
    animation

}